<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Математика</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-image: url(photos/3.jpg); background-size: cover">
<div class="sitename">
</div>
<div class="links">
    <ul class="links__list" style="--item-total:5">
        <li class="links__item" style="--item-count:1">
            <a class="links__link" href="http://localhost:8080/page1">
                <img src="photos/book.png" alt="" class="links__icon">
                <span class="links__text">История <br>математики</span>
            </a>
        </li>
        <li class="links__item" style="--item-count:2">
            <a class="links__link" href="http://localhost:8080/page2">
                <img src="photos/mathematics (1).png" alt="" class="links__icon">
                <span class="links__text">Квадратный <br>корень</span></a>
        </li>
        <li class="links__item" style="--item-count:3">
            <a class="links__link" href="http://localhost:8080/page3">
                <img src="photos/triangle (1).png" alt="" class="links__icon">
                <span class="links__text">Теорема <br>Пифагора</span></a>
        </li>
        <li class="links__item" style="--item-count:4">
            <a class="links__link" href="http://localhost:8080/page4">
                <img src="photos/maths.png" alt="" class="links__icon">
                <span class="links__text">График <br>функции</span></a>
        </li>
        <li class="links__item" style="--item-count:5">
            <a class="links__link" href="http://localhost:8080/page5">
                <img src="photos/abacus.png" alt="" class="links__icon">
                <span class="links__text">Арифметическая <br>прогрессия
          </span></a>
        </li>
    </ul>
</div>
</body>
</html>